.cache
node_modules
application/assets/js/build
.settings
/.data/
.session
/.files/
.registers
.analytics
sitemap.xml
configuration/*.php
!configuration/default.php
*.swp
*.swn
*.swo
tags
google-*
docker-compose.pageflip.yml